body{
	background-color: rgb(154, 180, 203);
}

div{
	visibility: hidden;
	background-color: rgba(154, 180, 203, 0.0);
	position: absolute;
	z-index = -1;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: #091D42;
}

.fadeinclass{
	-webkit-animation: fadein 3s;
}

@-webkit-keyframes fadein{
    from{ 
		opacity: 0;
	}
    to{ 
		opacity: 1; 
	}
}

#aboutme{
	left: 3%;
	width: 400px;
	top: 190px;
}

#experience{
	left: 40%;
	width: 600px;
	top: 300px;
}

#role{
	left: 50%;
	width: 300px;
	top: 100px;
}

#centerImage{
	width:		300px;
	height:		300px;

	position:	absolute;
	left:		50%;
	top:		50%;
	margin-top:	-150px;
	margin-left:-150px;

	z-index=0;
}

.tab{
	visibility:hidden;
	position: relative;
	z-index=1;
}

.transition{
	-webkit-transition:	width 0.5s, height 0.5s, -webkit-transform 1.5s ease-in-out;
}

.notransition{ 
  -webkit-transition: none !important; 
} 